<h1>ID: {{bookinstance._id}}</h1>

<p>
  <strong>Title:</strong>
  <a href="{{bookinstance.book.url}}">{{bookinstance.book.title}}</a>
</p>
<p>
  <strong>Imprint:</strong>
  {{bookinstance.imprint}}
</p>
<p>
  <strong>Status:</strong>
  {{#ifCond bookinstance.status '==' 'Available'}}
    <span class="text-success">{{bookinstance.status}}</span>
  {{else}}
    {{#ifCond bookinstance.status '==' 'Maintenance'}}
      <span class="text-danger">{{bookinstance.status}}</span>
    {{else}}
      <span class="text-warning">{{bookinstance.status}}</span>
    {{/ifCond}}
  {{/ifCond}}
</p>
{{#ifCond this.status '!=' 'Available'}}
  <p><strong>Due back:</strong> {{bookinstance.due_back_formatted}}</p>
{{/ifCond}}
