<h1>Author: {{author.name}}</h1>

<p>{{author.lifespan}}</p>

<div style='margin-left:20px;margin-top:20px'>
  <h4>Books</h4>
    {{#each author_books}}
      <p>
        <a href="{{this.url}}">{{this.title}}</a>
        <p>{{this.summary}}</p>
      </p>
    {{else}}
      <p>No Content.</p>
    {{/each}}
</div>

<hr/>
<p><a href="{{author.url}}/delete">Delete author</a></p>