<h1>Author: {{author.name}}</h1>

<p>{{author.lifespan}}</p>

{{#if author_books}}
  <p><strong>Delete the following books before attempting to delete this author.</strong></p>
  <div style='margin-left:20px;margin-top:20px'>
    <h4>Books</h4>
      {{#each author_books}}
        <p>
          <a href="{{this.url}}">{{this.title}}</a>
          <p>{{this.summary}}</p>
        </p>
      {{/each}}
  </div>

{{else}}
  <p>Do you really want to delete this Author?</p>
  <form method="POST" action="dele">
    <div class="form-group">
      <input class="form-control" id="authorid" type="hidden" name="authorid" required="true" value="{{author._id}}" />
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
  </form>
{{/if}}




