<h2>Genre: {{genre.name}}</h2>

<ul>
  {{#each genre_books}}
    <li>
      <a href="{{this.url}}">{{this.title}}</a>
      <p>{{this.summary}}</p>
    </li>
  {{else}}
    <p>No Content.</p>
  {{/each}}
</ul>